.btn-base{
    display: inline-block;
    background-color: #f25a70;
    padding: 18px 20px;
    margin: 0;   
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 0 black;
    transition: transform 300ms cubic-bezier(0.45, -0.04, 0.7, 2.78);
    text-decoration: none;
}

.btn-base:hover{
    transform: scale(1.08);
}

.btn-arrow{
    width: 50px;
    height: 50px;
}
/*Criando a seta de forma complicada com Border*/
.btn-arrow::before{
    content: '';
    display: block;

    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border: 20px solid transparent;
}

.btn-arrow.-left::before{
    border-left: 28px solid white;
    transform: translate(-6px, -12px);
}
.btn-arrow.-right::before{
    border-right: 28px solid white;
    transform: translate(-30px, -12px);
}
.btn-arrow .content-btn{
    display: none;
}