body{ 
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7c5e99;
    border-bottom: 10px solid black;
    padding: 10px 20px;
}

h1, h2, h3{
    font-family: 'Press Start 2P', sans-serif;
}

.logo {
    width: 80px;
    height: 80px;
    background-color: #f25a70;
    margin: 0;

    box-shadow: 5px 5px 0 black;
}

#banner{
    height:700px;
    color: white;
    border-bottom: 10px solid black;
    background-color: #7fffd4;

    background-image: #7fffd4 url("/assets/imagens/banner-background-1.jpeg") no-repeat;
    background-size: cover;
}

.box-titulo{
    display: inline-block;
    background-color: #3a4042;

    box-shadow: 10px 10px 0 black;
    text-shadow: 4px 4px 0 black;

    text-align: center;
    padding: 42px 44px;
}

.box-titulo h1{
    color: #f25a70;
    font-size: 40px;
    margin-bottom: 28px;
}