/*cor rosa padrão: #f25a70*/
body{
    height: 100%;
}

#section-base{
    background-color: #f25a70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid aquamarine;
}

#section-base .title.-second{
    margin-bottom: 60px;
}