/*cor rosa padrão: #f25a70*/
#section{
    background-color: #f25a70;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid aquamarine;
}
/*
.skills-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-skills{
    background-color:darkolivegreen;
    width: 900px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill{
    border: 1px solid blue;
    background-color: burlywood;
    display: flex;
    width: 432px;
    
    align-items: center;
}

.skill-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    background-color: chocolate;
    color: white;
    margin-left: 20px;
    flex-grow: 1;
}

.barra-progresso{
    display: flex;
    border: 5px solid black;
    background-color: white;
    height: 40px;
    width: 100%;
}

.barra-progresso::before{
    content: "";
    width: var(--progress);
    background-color: aquamarine;
}

.logo-tec{
    height: 90px;
}*/