#section-banner{
    box-sizing: border-box;
    height:800px;
    color: white;
    border-bottom: 10px solid black;

    background-image: url(../imagens/imgBackground/background.png);
    background-repeat: no-repeat;
    background-size: 100%;

    padding-top: 115px;
    padding-left: 90px;
}

#section-banner .box-wrapper{
    display: flex;
    flex-direction: column;
    width: 640px;
}

#section-banner .box-btns{
    display: flex;
    justify-content: space-around;
    
}

.box-titulo{
    display: inline-block;
    background-color: #3a4042;

    box-shadow: 10px 10px 0 black;

    text-align: center;
    padding: 42px 44px;
    margin-bottom: 29px;
}